<!-- homepage -->
<div class="container-fluid">
  <div class="jumbotron">
    又遇到棘手的法律问题啦？:-(  &nbsp;
    <a class="btn btn-primary"
       onclick="javascript:ask();"
       role="button">我要提问</a>
  </div>

  <div class="row">
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= 'active' if @sort_by == 'default' %>">
          <a href="/">最新</a>
        </li>
        <li role="presentation" class="<%= 'active' if @sort_by == 'views' %>">
          <a href="/?sort=views">最热</a>
        </li>
        <li role="presentation" class="<%= 'active' if @sort_by == 'noanswer' %>">
          <a href="/?sort=noanswer">未回答</a>
        </li>
      </ul>

      <% @qs.each do |q| %>
        <div class="listed-question">
          <div class="rank">
            <div class="votes">
              <%= q.scores %><small>得分</small>
            </div>
            <div <% if q.accepted_answer_id != 0 %>
                      class="answered"
                 <% elsif q.answers.length > 0 %>
                      class="answers"
                 <% end %> >
              <%= q.answers.length %><small>回答</small>
            </div>
            <div class="views">
              <%= q.views %><small>浏览</small>
            </div>
          </div>

          <div class="question">
            <div class="user">
              <a href="/u/<%= q.last_doer.login_name %>">
                <%= q.last_doer.info.nickname %>
              </a>
              在<%= time_ago_in_words_zh(q.last_do_at) %>
              <% if q.last_do_type == 0 %>
              提问
              <% elsif q.last_do_type == 1 %>
              回答
              <% end %>
            </div>
            <div class="title">
              <a href="/q/<%= q.id %>"><%= q.title %></a>
              <% q.tags.each do |t| %>
                <span class="q_tag"><%= t.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <a href="#" class="more">更多问题 ...</a>
    </div>

    <div class="col-md-3">
      <div class="tags">
          <h6>热门标签</h6>
          <% @hot_tags.each do |t| %>
            <a href="javascript:void(0);" class="tag"
               onclick="javascript:go_tag(<%= t.id %>);">
              <%= t.name %>
            </a>
          <% end %>
      </div>
    </div>
  </div>
</div>
