<!-- homepage -->
<div class="container">
  <div class="jumbotron">
    又遇到棘手的法律问题啦？:-(  &nbsp;
    <a class="btn btn-primary btn-lg" onclick="javascript:ask();" role="button">我要提问</a>
  </div>

  <div class="row">
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= 'active' if @sort_by == 'default' %>"><a href="/">最新</a></li>
        <li role="presentation" class="<%= 'active' if @sort_by == 'score' %>"><a href="/?sort=score">最热</a></li>
        <li role="presentation" class="<%= 'active' if @sort_by == 'views' %>"><a href="/?sort=views">未回答</a></li>
      </ul>

      <% @qs.each do |q| %>
        <div class="listed-question">

          <div class="rank">
            <div class="scores">
              <%= q.score %><small>投票</small>
            </div>
            <div <% if q.accepted_answer_id != 0 %>
                      class="answered"
                 <% elsif q.answers.length > 0 %>
                      class="answers"
                 <% end %> >
              <%= q.answers.length %><small>回答</small>
            </div>
            <div class="views">
              <%= q.views %><small>浏览</small>
            </div>
          </div>

          <div class="question">
            <div class="user">
              <a href="/user/<%= q.userlogin.user_id %>">
                <%= q.last_doer.login_email %>
                在<%= q.last_do_at.to_s %>
                <% if q.last_doer_id == q.user_id %>提问<% else %>回答<% end %>
              </a>
            </div>
            <div class="title">
              <a href="/q/<%= q.id %>"><%= q.title %></a> &nbsp;
              <% q.tags.each do |t| %>
                <span class="label label-primary"><%= t.name %></span>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>

      <p>更多...</p>

    </div>

    <div class="col-md-3">
      <div class="tags">
          <h6>热门标签</h6>
          <% Tag.all.each do |t| %>
            <span class="label label-primary"><%= t.name %></span>
          <% end %>
      </div>
    </div>
  </div>
</div> <!-- end of container -->
<script>
  function ask() {
    $.get("/check_login", function (data,s) {
      if(data.ret){
        location.href = "/ask";
      } else {
        location.href = "/login";
      }
    });
  }
</script>
