<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= @title %> - <%= I18N.ref("title_appendix") %></title>
<link rel="icon" href="/favicon.ico" />
<link rel="stylesheet" href="/css/w3.css" />
<link rel="stylesheet" href="/css/w3-theme-blue-grey.css" />
<link rel="stylesheet" href="/css/bootstrap-with-theme.min.css" />
<link rel="stylesheet" href="/css/my.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css">
<%= yield_content :extra_css_tags %>
<script src="/js/jquery.min.js"></script>
<script src="/js/my.js"></script>
<body class="w3-theme-l5">

<div class="wrapper"><!-- body wrapper starts -->

  <div class="w3-top" style="z-index:99">
  <ul class="w3-navbar w3-large w3-white w3-card-2">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
      <a href="javascript:void(0)" onclick="openX('navbar-sm')">
        <i class="fa fa-bars"></i>
      </a>
    </li>

    <li class="w3-hide-small w3-dropdown-click">
      <a href="javascript:void(0)" onclick="openLangBox()" title="Change Language">
        <i class="fa fa-language"></i>
      </a>
      <div id="langbox" class="w3-dropdown-content w3-white w3-card-2 w3-medium">
        <a href="javascript:void(0)" onclick="changeLanguage('zh_cn')">中文 (zh-CN)</a>
        <a href="javascript:void(0)" onclick="changeLanguage('en_us')">English (en-US)</a>
      </div>
    </li>

    <li class="w3-hide-small w3-dropdown-click">
      <a id="anchor-mailbox" href="javascript:void(0)" onclick="openMailBox()">
        <i class="fa fa-envelope-o"></i>
      </a>
      <div id="mailbox" class="w3-dropdown-content w3-card-2 w3-medium">
      </div>
    </li>

    <li class="w3-hide-small w3-dropdown-click">
      <a id="anchor-user" href="javascript:void(0)" onclick="openPersonalbox()">
        <i class="fa fa-user"></i>
      </a>
      <div id="personalbox" class="w3-dropdown-content w3-card-2 w3-medium">
      </div>
    </li>

    <li class="w3-hide-small w3-right">
      <input id="txtSearch" type="text" class="w3-input w3-border-0"
             placeholder="<%= I18N.ref("search") %>" />
    </li>
    <li class="w3-hide-small w3-right">
      <a href="javascript:void(0);" onclick="btnSearchClick()">
        <i class="fa fa-search"></i>
      </a>
    </li>
  </ul>
  </div>

  <!-- dropdown navbar for small size screen -->
  <div id="navbar-sm" class="w3-hide w3-hide-large w3-hide-medium w3-border-bottom">
    <ul class="w3-navbar w3-white w3-left-align">
      <li><a href="#">placeholder1</a></li>
      <li><a href="#">placeholder2</a></li>
    </ul>
  </div>

  <%= render_nav_tab %>
  <%= render_breadcrumb %>
  <%= yield %>

</div><!-- end of wrapper -->

<footer>
  <div class="w3-row">

    <div class="w3-threequarter">
      <div class="w3-row">
        <div class="w3-third">
          <p>
            除特别说明外，用户内容均采用
            <a href="http://creativecommons.org/licenses/by-sa/3.0/cn/">
              知识共享署名-相同方式共享 3.0 中国大陆许可协议
            </a>进行许可
          </p>
          <p>
            京ICP备16039816号-1
          </p>
        </div>
      </div>
    </div>

    <div class="w3-quarter w3-hide-medium w3-hide-small">
      <div class="footer-logo-box">
        <img alt="是非说" src="/little-logo.png"/>
        <span>beta</span>
      </div>
    </div>

  </div>
</footer>


<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
$(function(){
  // init avatar on navbar
  $.ajax({ url: "/user" })
  .done(function(result){
    if(result.ret == true){
      var data = JSON.parse(result.msg);
      $("#anchor-user").html("<img src='" + data.avatar + "' style='width: 30px; margin-top: -10px;' />");
    }
  })
  .fail(function(){
    console.log("init navbar ajax call failed");
  });
});

function openX(eleId) {
  var x = document.getElementById(eleId);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  }
  else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function closeX(eleId) {
  var x = document.getElementById(eleId);
  if (x.className.indexOf("w3-show") != -1) {
    x.className = x.className.replace(" w3-show", "");
  }
}

function openLangBox() {
  closeX("mailbox");
  closeX("personalbox");
  openX("langbox");
}

function changeLanguage(lang_name) {
  if(cookieEnabled()) {
    setCookie("lang",lang_name,1);
    location.replace(location.href);
  }
  else {
    var new_url = add_param("lang",encodeURIComponent(lang_name));
    location.replace(new_url);
  }
}

function btnSearchClick() {
  var q_keys = encodeURIComponent($("#txtSearch").val());
  if (q_keys.length < 1) { window.location = "/search"; }
  else { window.location = "/search?q=" + q_keys; }
}

function shortenMsg(content) {
  return content.replace(/(<([^>]+)>)/img,"").replace(/[\s\n]+/ig," ").substr(0,20)+"...";
}

function openMailBox() {
  closeX("langbox");
  closeX("personalbox");
  var x = document.getElementById("mailbox");
  var panel = $(x);

  $(document).ajaxStart(function(){
    panel.html("\
      <div class='w3-text-grey w3-container w3-padding'>\
        <i class='fa fa-spin fa-refresh'></i> <%= I18N.ref("now_loading") %>\
      </div>");
  });

  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    $.ajax({
      url: "/user/unread",
      success: function(result) {
        if(result.ret == true) {
          var data = JSON.parse(result.msg);
          var msg = JSON.parse(data.unread_msg);
          if (msg.length == 0) {
            panel.html("<h6 class='w3-text-grey w3-padding'><%= I18N.ref("no_unread_msg") %></h6>");
          }
          else {
            var content = "";
            for (var i = msg.length - 1; i >= 0; i--) {
              content += "<a href='/user/messages'>" + shortenMsg(msg[i].content) + "</a>";
            }
            panel.html(content);
          }
        }
        else {
          panel.html("\
            <div class='w3-container w3-padding'>\
              <h6 class='w3-text-grey'><%= I18N.ref("not_login") %></h6>\
              <a class='w3-btn w3-padding w3-blue' \
                 href='/user/signin'><%= I18N.ref("login") %></a>\
            </div>");
        }
      }
    });
  }
  else {
    x.className = x.className.replace(" w3-show", "");
  }
  $(document).unbind('ajaxStart');
}

function openPersonalbox() {
  closeX("langbox");
  closeX("mailbox");
  var x = document.getElementById("personalbox");
  var panel = $(x);

  $(document).ajaxStart(function(){
    panel.html("\
      <div class='w3-text-grey w3-container w3-padding'>\
        <i class='fa fa-spin fa-refresh'></i> <%= I18N.ref("now_loading") %>\
      </div>");
  });

  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    $.ajax({
      url: "/user",
      success: function(result) {
        if(result.ret == true) {
          var data = JSON.parse(result.msg);
          var content = "\
          <div class='w3-container'>\
            <h5 class='w3-left'>" + data.display + "</h5>\
            <h5 class='w3-right w3-text-grey'>" + data.reputation + "</h5>\
          </div>\
          <div>\
            <a href='" + data.url +"'><i class='fa fa-home'></i> <%= I18N.ref("myhome") %></a>\
            <a href='/user/watchlist'><i class='fa fa-star-half-o'></i> <%= I18N.ref("watchlist") %></a>\
            <a href='/drafts'><i class='fa fa-clipboard'></i> <%= I18N.ref("draft") %></a>\
            <a href='/logout'><i class='fa fa-sign-out'></i> <%= I18N.ref("logout") %></a>\
          </div>";
          panel.html(content);
        }
        else {
          panel.html("\
            <div class='w3-container w3-padding'>\
              <h6 class='w3-text-grey'><%= I18N.ref("not_login") %></h6>\
              <a class='w3-btn w3-padding w3-blue' \
              href='/user/signin'><%= I18N.ref("login") %></a>\
            </div>");
        }
      }
    });
  }
  else {
    x.className = x.className.replace(" w3-show", "");
  }
  $(document).unbind('ajaxStart');
}

$("#txtSearch").keydown(function(event){
  if(event.which == 13){
    event.preventDefault();
    btnSearchClick();
  }
});
</script>
<%= yield_content :extra_js_tags %>

</body>
</html>
