<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title || "真" %> | 韩非子说</title>
    <link rel="icon" href="/favicon.ico">
    <link href="/css/bootstrap-3.3.5.min.css" rel="stylesheet">
    <link href="/vendors/flat-ui/css/flat-ui.min.css" rel="stylesheet">
    <link href="/css/my.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="韩非子说" src="">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- search -->
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="法律问题？">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>

          <!-- after search at navi -->
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">
                <span class="glyphicon glyphicon-home" aria-hidden="true">
                </span>
                &nbsp;问答
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li><a href="#">新闻</a></li>
          </ul>

          <!-- items on the right side -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= url('/about') %>">关于</a></li>

            <% unless login? %>

            <li>
              <a href="#" data-toggle="modal" data-target="#myModal">用户登录</a>
            </li>
            <!-- modal login window -->
            <div class="modal" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog" style="margin-top:100px;">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close"
                             data-dismiss="modal" aria-hidden="true">
                          &times;
                     </button>
                     <h5 class="modal-title" id="myModalLabel">登录</h5>
                   </div> <!-- end of modal header -->
                   <div class="modal-body">
                     <p>
                       <div class="form-group has-feedback">
                         <input class="form-control"
                                name="login_name" placeholder="登录名" />
                         <span class="form-control-feedback fui-user"></span>
                       </div>
                     </p>
                     <p>
                       <div class="form-group has-feedback">
                         <input class="form-control"
                                type="password" name="password"
                                placeholder="密码" />
                         <span class="form-control-feedback fui-lock"></span>
                       </div>
                     </p>
                     <div id="err-msg" class="text-danger"></div>
                     <label>
                       <input type="checkbox" name="rememberme" />
                       &nbsp;下次自动登录
                     </label>
                     <input type="button" value=" 登录 " class="btn btn-primary"
                            style="margin-left: 10px;"
                            onclick="javascript:login();" />
                     <h6>没有帐户？</h6>
                     <p>
                       <a href="<%= url('/user/register') %>"
                         class="btn btn-default">注册</a>
                     </p>
                   </div> <!-- /modal-body -->
                 </div> <!-- /.modal-content -->
               </div> <!-- modal dialog -->
            </div> <!-- /.modal -->

            <% else %>

            <!-- for logged on user -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                          data-toggle="dropdown"
                          role="button"
                          aria-haspopup="true"
                          aria-expanded="false">
                <%= session[:login_name] %> &nbsp;
                <% if session[:message_amount] > 0 %>
                <span class="badge"><%= session[:message_amount] %></span>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/user/profile">
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>
                    &nbsp;用户档案
                  </a>
                </li>
                <li>
                  <a href="/user/messages">
                    <span class="glyphicon glyphicon-envelope"
                          aria-hidden="true">
                    </span>
                    &nbsp;我的消息&nbsp;
                    <% if session[:message_amount] > 0 %>
                    <span class="badge"><%= session[:message_amount] %></span>
                    <% end %>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    &nbsp;我关注的
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#" onclick="javascript:logout();">
                    <span class="glyphicon glyphicon-log-out"
                          aria-hidden="true">
                    </span>&nbsp;退出登录
                  </a>
                </li>
              </ul>
            </li>

            <% end %>

          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>

    <!-- main content -->
    <%= yield %>

    <!--
    footer : static
    don't inherit parent's font color
    -->
    <footer style="color:#0a0a0a;margin-top:50px;padding-bottom:80px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4>韩非子说<h4>
            <p>本网站所遵循
              <a href="http://creativecommons.org/licenses/by/3.0/"
                 target="_blank">
                 CC BY 3.0
              </a>
              协议发布
            </p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
                <h6>关于</h6>
                <ul class="list-unstyled">
                  <li><a href="/about">关于我们</a></li>
                  <li><a href="/ad">广告合作</a></li>
                  <li><a href="/links">友情链接</a></li>
                  <li><a href="/hr">招聘</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h6>联系方式</h6>
                <ul class="list-unstyled">
                  <li>
                    <a href="http://weibo.com/eyaswoo"
                       title="官方微博" target="_blank">新浪微博</a>
                  </li>
                  <li><a href="mailto:eyaswoo@163.com">电子邮件</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h6>合作单位</h6>
                <ul class="list-unstyled">
                  <li><a href="#" target="_blank">ABC律师事务所</a></li>
                  <li><a href="#" target="_blank">X国律师协会</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h6>赞助商</h6>
                <ul class="list-unstyled">
                  <li><a href="#" target="_blank"></a>暂时还没有</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- beian -->
    <ul class="list-inline text-center" style="margin-bottom:0px;">
      <li>
        <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备xxx号</a>
      </li>
      <li>京公网安备xxx</li>
    </ul>

    <script src="/js/jquery.min.js"></script>
    <script src="/vendors/flat-ui/js/flat-ui.min.js"></script>
    <script src="/js/my.js"></script>
  </body>
</html>
