<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="<%= @page_keywords_list %>,法律,法务,问答,社区" />
    <meta name="description" content="<%= @page_description %> 法律 法务 问答 社区" />
    <title>韩非子说 | <%= @title %></title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap-with-theme.min.css" />
    <link rel="stylesheet" href="/css/my.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <%= yield_content :extra_css_tags %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/my.js"></script>
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper"><!-- wrapper to make footer sticky to bottom -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-1"
                    aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="head-logo-box">
              <a class="navbar-brand" href="/" title="Go Homepage">
                <img alt="韩非子说" src="/little-logo.png" class="logo" />
                <span class="beta">Alpha</span>
              </a>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li <% if @navbar_active == "qna" %>class="active"<% end %>>
                <a href="/" title="Homepage">
                  <i class="fa fa-home"></i>&nbsp;首页
                </a>
              </li>
              <li <% if @navbar_active == "qs" %>class="active"<% end %>>
                <a href="/questions" title="All questions">
                  <i class="fa fa-question"></i>&nbsp;问题
                </a>
              </li>
              <li <% if @navbar_active == "users" %>class="active"<% end %>>
                <a href="/users" title="All users">
                  <i class="fa fa-users"></i>&nbsp;用户
                </a>
              </li>
              <li <% if @navbar_active == "tags" %>class="active"<% end %>>
                <a href="/tags" title="Tags page">
                  <i class="fa fa-tags"></i>&nbsp;标签
                </a>
              </li>
              <li <% if @navbar_active == "jobs" %>class="active"<% end %>>
                <a href="/jobs" title="Find me a Job">
                  <i class="fa fa-briefcase"></i>&nbsp;职位
                </a>
              </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" action="/search">
              <div class="form-group">
                <input type="text" class="form-control"
                       name="q" placeholder="快速搜索"
                       onfocus="javascript:widen_input(true);"
                       onblur="javascript:widen_input(false);" />
              </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
              <% unless login? %>
              <li>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#login-modal"
                   title="Sign In"><i class="fa fa-sign-in"></i>&nbsp;登录</a>
              </li>
              <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                  <%= get_login_name %>
                  <% if get_message_amount > 0 %>
                  &nbsp; <span class="badge"><%= get_message_amount %></span>
                  <% end %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/user/home" title="Your SNS Homepage">
                      <i class="fa fa-comments"></i>&nbsp;我的首页
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="/user/messages" title="My Messages">
                      <i class="fa fa-envelope"></i>&nbsp;我的消息
                      <% if get_message_amount > 0 %>
                      &nbsp;<span class="badge"><%= get_message_amount %></span>
                      <% end %>
                    </a>
                  </li>
                  <li>
                    <a href="/user/watchlist" title="My Watchlist">
                      <i class="fa fa-star"></i>&nbsp;我关注的
                    </a>
                  </li>
                  <li>
                    <a href="/user/profile" title="Update My Profile">
                      <i class="fa fa-user"></i>&nbsp;更新资料
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="javascript:void(0);" onclick="javascript:logout();" title="Sign Out">
                      <i class="fa fa-sign-out"></i>&nbsp;退出登录
                    </a>
                  </li>
                </ul>
              </li>
              <% end %>

              <li>
                <a href="/help" title="Help">帮助</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav><!-- end of nav bar -->

      <%= render_login_modal %>
      <%= render_breadcrumb %>
      <%= yield %>

    </div><!-- end of wrapper -->
    <footer>
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo-box">
              <img alt="韩非子说" src="/little-logo.png"/>
              <span>Alpha</span>
            </div>
            <p>
              “非&trade;” 和 “韩非子说&trade;” 是注册商标<br />
              &copy; 2016 数字天平（北京）网络技术有限公司<br />
              当前版本 20160310
            </p>
          </div>

          <div class="col-md-3">
            <h5>内容许可</h5>
            <p>
              除特别说明外，用户内容均采用
              <a href="http://creativecommons.org/licenses/by-sa/3.0/cn/">
                知识共享署名-相同方式共享 3.0 中国大陆许可协议
              </a> 进行许可
            </p>
            <p>
              京ICP备12345678-1号
            </p>
          </div>


          <div class="col-md-2">
            <h5 title="About This Site">网站相关</h5>
            <ul class="site-related">
              <li>
                <a href="/about" title="About Us">关于我们</a>
              </li>
              <li>
                <a href="/terms" title="Terms & Privacy">服务条款</a>
              </li>
              <li>
                <a href="/admin/home" title="Admin Login">站点管理</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 title="Contact Us">联系我们</h5>
            <ul class="site-related">
              <li>
                <a href="/feedback" title="Feedback">问题反馈</a>
              </li>
              <li>
                <a href="/business" title="Business Cooperation">企业合作</a>
              </li>
              <li>
                <a href="/career" title="Jobs of This Site">本站工作机会</a>
              </li>
              <li>
                <a href="http://t.cn/account/hanfeizishuo" title="Weibo">微博账号</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 title="WeChat">微信公众号<small>（假）</small></h5>
            <img class="cli-pane" src="/cli.png" alt="微信公众号" />
          </div>
        </div><!-- end of the row -->

      </div><!-- end of the container -->
    </footer>

    <div class="fixed-tool">
      <a href="#" class="back-to-top" title="Back to Top">回到顶部</a>
    </div>

    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= yield_content :extra_js_tags %>
  </body>
</html>
