<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="<%= @page_keywords_list %>法律 法务 问答 社区" />
    <meta name="description"
          content="<%= @page_description %>法律 法务 问答 社区" />
    <title>
      <% if @title %><%= @title %> | 韩非子说<% else %>韩非子说"<% end %>
    </title>
    <link rel="icon" href="/favicon.ico">
    <link href="/css/bootstrap-with-theme.min.css" rel="stylesheet">
    <link href="/css/my.css" rel="stylesheet">
    <%= yield_content :extra_css_tags %>
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper"><!-- wrapper to make footer sticky to bottom -->

      <!-- navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-1"
                    aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img alt="韩非子说" src="/site_logo1.jpg" class="logo" />
            </a>
            <span class="beta">Beta</span>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav">
              <li <% if @navbar_active == "qna" %>class="active"<% end %>>
                <a href="/">
                  <span class="glyphicon glyphicon-home" aria-hidden="true">
                  </span>&nbsp;问答
                </a>
              </li>
              <li <% if @navbar_active == "tags" %>class="active"<% end %>>
                <a href="/tags">标签</a>
              </li>
              <li <% if @navbar_active == "jobs" %>class="active"<% end %>>
                <a href="/jobs">职位</a>
              </li>
            </ul>

            <form class="navbar-form navbar-left" role="search"
                  action="/search">
              <div class="form-group">
                <input type="text" class="form-control" name="q"
                       onfocus="javascript:widen_input(true);"
                       onblur="javascript:widen_input(false);"
                       placeholder="快速搜索">
              </div>
            </form>

            <ul class="nav navbar-nav navbar-right">

              <% unless login? %>
              <li>
                <a href="javascript:void(0);" data-toggle="modal"
                   data-target="#login-modal">
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true">
                  </span>
                  &nbsp;登录
                </a>
              </li>
              <% else %>
              <!-- for logged on user -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">
                  <%= get_login_name %>
                  <% if get_message_amount > 0 %>
                  &nbsp; <span class="badge"><%= get_message_amount %></span>
                  <% end %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/user/home">
                      <span class="glyphicon glyphicon-sunglasses"
                            aria-hidden="true">
                      </span>
                      &nbsp;我的首页
                    </a>
                  </li>
                  <li>
                    <a href="/ask">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true">
                      </span>
                      &nbsp;快速提问
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="/user/messages">
                      <span class="glyphicon glyphicon-envelope"
                            aria-hidden="true">
                      </span>
                      &nbsp;我的消息&nbsp;
                      <% if get_message_amount > 0 %>
                      <span class="badge"><%= get_message_amount %></span>
                      <% end %>
                    </a>
                  </li>
                  <li>
                    <a href="/user/watchlist">
                      <span class="glyphicon glyphicon-star" aria-hidden="true">
                      </span>
                      &nbsp;我关注的
                    </a>
                  </li>
                  <li>
                    <a href="/user/profile">
                      <span class="glyphicon glyphicon-user"
                            aria-hidden="true">
                      </span>
                      &nbsp;更新资料
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="#" onclick="javascript:logout();">
                      <span class="glyphicon glyphicon-log-out"
                            aria-hidden="true">
                      </span>&nbsp;退出登录
                    </a>
                  </li>
                </ul>
              </li>
              <% end %>

              <li>
                <a href="/help">帮助</a>
              </li>

            </ul>
          </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
      </nav>

      <!-- modal login window -->
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"
                     aria-hidden="true" aria-label="Close">&times;</button>
              <h4 class="modal-title" id="myModalLabel">登录</h4>
            </div>
            <div class="modal-body">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" name="modal-loginname"
                       placeholder="用户名">
              </div>
              <div class="form-group has-feedback">
                <input type="password" class="form-control"
                       name="modal-password" placeholder="密码">
              </div>
              <div id="err-msg" class="text-danger"></div>
            </div>
            <div class="modal-footer">
              <input type="button" value="登录" class="btn btn-primary"
                      onclick="javascript:login();" />
              &nbsp;没有帐户？<a href="/user/register">注册</a>
            </div> <!-- /modal-body -->
          </div> <!-- /.modal-content -->
        </div> <!-- modal dialog -->
      </div> <!-- /.modal -->

      <!-- breadcumb -->
      <% if @breadcrumb %>
      <div class="container-fluid">
        <div class="bread-pane">
          <ol class="breadcrumb">
            <% @breadcrumb.each do |b| %>
            <li <% if b[:active] %>class="active"<% end %> >
              <% if b[:url].nil? %>
                <%= b[:name] %>
              <% else %>
                <a href="<%= b[:url] %>"><%= b[:name] %></a>
              <% end %>
            </li>
            <% end %>
          </ol>
        </div>
      </div>
      <% end %>

      <!-- main content -->
      <%= yield %>

    </div><!-- end of wrapper -->


    <!-- footer -->
    <footer>
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-3">
            <div class="footer-logo-box">
              <img alt="韩非子说" src="/site_logo1.jpg"/>
              <span>Beta</span>
            </div>
          </div>

          <div class="col-md-3">
            hahaha
          </div>

          <div class="col-md-3">
            some logo, or words description...
          </div>

        </div>


      </div>
    </footer>

    <div class="fixed-tool">
      <a href="#" class="back-to-top">回到顶部</a>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/my.js"></script>
    <%= yield_content :extra_js_tags %>
  </body>
</html>
