<% if @q.is_hidden || @q.is_deleted %>
<div class="container">
  <h3>问题已经被隐藏或删除</h3>
</div>
<% else %>

<script src="/vendors/ckeditor/ckeditor.js"></script>

<%= render_report_modal('q', @q.id) %>
<%= render_edit_modal %>

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <h3 class="question-title"><%= @q.title %></h3>

      <% if login? && (@q.user_id != session[:user_id].to_i) %>
      <div class="question-reporting">
        <button class="btn btn-default btn-sm" data-toggle="modal"
                data-target="#report-modal" title="投诉">
          <i class="fa fa-warning"></i>
        </button>
      </div>
      <% end %>

      <div class="row">
        <div class="col-md-1">
          <div class="votingbox">
            <a href="javascript:void(0);" title="好问题，赞！"
               onclick="javascript:vote('vote','q',<%= @q.id %>);">
              <i class="fa fa-caret-up fa-2x"></i>
            </a>
            <br />
            <span id="q-scores-<%= @q.id %>"><%= @q.scores %></span>
            <br />

            <a href="javascript:void(0);" title="这问题太逊了，埋了它！"
               onclick="javascript:vote('devote','q',<%= @q.id %>);">
              <i class="fa fa-caret-down fa-2x"></i>
            </a>
            <br />

            <a id="watchicon" href="javascript:void(0);"
               onclick="javascript:watch1(<%= @q.id %>);"
               title="<% if @watched %>已<% end %>收藏"
               class="<% if @watched %>watched<% else %>watching<% end %>" >
              <i class="fa fa-star"></i>
            </a>
            <br />

            <!-- has_accepted_answer mark -->
            <% if @answered %>
              <a id="answeredicon" href="#answer" title="跳到被标记的答案">
                <i class="fa fa-check"></i>
              </a>
            <% end %>
          </div>
        </div>  <!-- end of voting box -->

        <div class="col-md-11" id="question-details">
          <div class="question-content">
            <%= @q.content %>
          </div>

          <div class="tag-authorbox">
            <div class="tags">
              <% @q.tags.each do |t| %>
              <span class="q_tag"><%= t.name %></span>
              <% end %>
            </div>

            <div class="authorbox text-right">
              <img class="avatar-sm" src="<%= @q.author.avatar_src %>">
              <a href="<%= @q.author.url %>">
                <%= @q.author.info.nickname %>(<%= get_format_number(@q.author.reputation) %>)
              </a>
              提问于<%= time_ago_in_words_zh(@q.created_at) %>

              <% if @can_edit %>
                <br />
                <a href="javascript:void(0);" data-toggle="modal"
                   class="comment-btn" data-target="#edit-modal">
                  <i class="fa fa-edit"></i>&nbsp;修改问题
                </a>&nbsp;

                <% if @q.can_comment %>
                <a href="javascript:void(0);" class="comment-btn"
                   onclick="javascript:toggle_comment(<%= @q.id %>);">
                  <i class="fa fa-ban text-danger"></i>&nbsp;关闭评论
                </a>
                <% else %>
                <a href="javascript:void(0);" class="comment-btn"
                   onclick="javascript:toggle_comment(<%= @q.id %>);">
                  <i class="fa fa-commenting"></i>&nbsp;打开评论
                </a>
                <% end %>
              <% end %>
            </div>

            <% if @is_edited %>
            <div class="authorbox text-right">
              <img class="avatar-sm" src="<%= @last_editor.avatar_src %>">
              <a href="<%= @last_editor.url %>">
                <%= @last_editor.info.nickname %>(<%= get_format_number(@last_editor.reputation) %>)
              </a>
              最后修改于<%= time_ago_in_words_zh(@last_edit_time) %>
            </div>
            <% end %>

            <div class="clear"></div>
          </div>

          <!-- comments go here -->
          <div class="comments">
            <% if !@q.comments.empty? %>
              <% @q.comments.each do |c| %>
                <div class="single-comment">

                  <div class="comment-vote"
                       title="为这条评论投票"
                       onclick="javascript:vote('vote','c',<%= c.id %>)">
                    <i class="fa fa-caret-up"></i>
                    <span id="c-scores-<%= c.id %>"><%= get_format_number(c.scores) %></span>
                    <!-- no devoting for comments -->
                  </div>

                  <div class="comment-text">
                    <%= c.content %>
                  </div>

                  <div class="comment-author">
                    <a href="<%= c.author.url %>">
                      <%= c.author.info.nickname %>(<%= get_format_number(c.author.reputation) %>)
                    </a>
                    <%= time_ago_in_words_zh(c.created_at) %>
                  </div>

                  <div class="clear"></div>
                </div>
              <% end %>
            <% end %>
          </div>

          <% if login? && @q.can_comment %>
          <div class="row">
            <div class="col-sm-12">
              <a href="javascript:void(0);" class="comment-btn"
                 onclick="javascript:show_comment();">
                 <i class="fa fa-commenting"></i>&nbsp;发表评论
              </a>

              <!-- hidden comment input div here -->
              <div class="form-group commenting" style="display:none;">
                <textarea id="comment_area" class="commentbox"
                          rows="4" style="width: 100%"></textarea><br>
                <a class="btn btn-primary btn-xs" href="javascript:void(0);"
                   onclick="javascript:do_comment(<%= @q.id %>);">确认</a>
                <a class="btn btn-default btn-xs" href="javascript:void(0);"
                   onclick="javascript:cancel_comment();">取消</a>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div> <!-- end of #question-details -->
      <hr>

      <!-- answers listed here : all col-9 width -->
      <div class="answers">
        <% if @answers.empty? %>尚无作答<% else %>
          <%= @answers.size %>个回答
          <% @answers.each do |a| %>
            <div class="single-answer" id="a<%= a.id %>">
              <div class="row"
                <% if @q.accepted_answer == a %>id="answer"<% end %> >
                <div class="col-md-1">

                  <div class="votingbox">
                    <a href="javascript:void(0);" title="这条回答很有帮助，赞！"
                       onclick="javascript:vote('vote','a',<%= a.id %>);">
                      <i class="fa fa-caret-up"></i>
                    </a>
                    <br />
                    <span id = "a-scores-<%= a.id %>"><%= get_format_number(a.scores) %></span>
                    <br>
                    <a href="javascript:void(0);"
                       title="这答案不正确或者误导人，差评！"
                       onclick="javscript:vote('devote','a',<%= a.id %>);">
                      <i class="fa fa-caret-down"></i>
                    </a>
                    <br />
                    <!-- possible marked-as-answer sign -->
                    <% if @q.accepted_answer == a %>
                    <i class="fa fa-check i-am-answer"></i>
                    <% end %>
                  </div>

                </div>

                <div class="col-md-11" id="answer-details">
                  <div class="answer-text">
                    <%= a.content %>
                  </div>

                  <div class="authorbox text-right">
                    <img class="avatar-sm"
                         src="<%= a.author.avatar_src %>">
                    <a href="<%= a.author.url %>">
                      <%= a.author.info.nickname %>(<%= get_format_number(a.author.reputation) %>)
                    </a>
                    回答于<%= time_ago_in_words_zh(a.created_at) %>
                  </div> <!-- end of author box of answer -->

                  <!-- marking func for answer -->
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-8 text-right
                         <% if @hidden_mark %>hidden<% end %>">
                      <a href="javascript:void(0);" role="button"
                         class="btn btn-primary btn-sm" onclick="javascript:
                           mark_as_accepted(<%= @q.id %>, <%= a.id %>);">
                        <i class="fa fa-check"></i>&nbsp;标记为答案
                      </a>
                    </div>
                  </div>

                  <!-- comments for answer -->
                  <div class="comments">
                    <% if !a.comments.empty? %>
                      <% a.comments.each do |c| %>
                        <div class="single-comment">

                          <div class="comment-vote"
                               title="为这条评论投票"
                               onclick="javascript:vote('vote','c',<%= c.id %>)">
                            <i class="fa fa-caret-up"></i>
                            <span id="c-scores-<%= c.id %>">
                              <%= get_format_number(c.scores) %>
                            </span>
                            <!-- no devoting for comments -->
                          </div>

                          <div class="comment-text">
                            <%= c.content %>
                          </div>

                          <div class="comment-author">
                            <a href="<%= c.author.url %>">
                              <%= c.author.info.nickname %>(<%= get_format_number(c.author.reputation) %>)
                            </a>
                            <%= time_ago_in_words_zh(c.created_at) %>
                          </div>

                          <div class="clear"></div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <a href="javascript:void(0);" class="comment-btn"
                     onclick="javascript:show_comment_answer(<%= a.id %>);">
                    <i class="fa fa-commenting-o"></i>&nbsp;发表评论
                  </a>

                  <!-- hidden comment input div here -->
                  <div class="form-group commenting-answer-<%= a.id %>"
                       style="display: none;">
                    <textarea id="comment_area_answer_<%= a.id %>"
                              class="commentbox"
                              rows="4" style="width: 100%"></textarea><br>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0);"
                       onclick="javascript:do_comment_answer(<%= a.id %>);">
                      确认
                    </a>
                    <a class="btn btn-default btn-xs" href="javascript:void(0);"
                       onclick="javascript:cancel_comment_answer(<%= a.id %>);">
                      取消
                    </a>
                  </div>
                </div>
              </div> <!-- end of div.row -->
            </div> <!-- end of div.single-answer -->

          <% end %>
        <% end %>

      </div> <!-- end of listed answers -->

      <hr>
      <% if @q.is_frozen %>
      问题被冻结，无法回答
      <% elsif login? && @q.author.id != session[:user_id] %>
      你的回答

      <div class="form-group">
        <textarea id="editor1" name="editor1"></textarea>
        <script>
          CKEDITOR.replace('editor1');
        </script>
      </div>
      <a class="btn btn-primary" href="javascript:void(0);"
         onclick="javascript:do_answer(<%= @q.id %>);">提交</a>
      <div id="err_msg_ask" class="text-danger"></div>
      <% elsif !login?%>
        请先
        <a class="btn btn-default btn-sm"
           href="/user/signin?returnurl=<%= CGI.escape(request.path) %>">
          登录
        </a>
        后回答
      <% end %>
    </div> <!-- end of col-9 -->

    <div class="col-md-3">
      <%= render_question_list :linked %>
      <%= render_question_list :related %>
    </div>

  </div>
</div>
<% end %>
