<script src="/vendors/ckeditor/ckeditor.js"></script>
<!-- <script src="//cdn.bootcss.com/ckeditor/4.5.4/ckeditor.js"></script> -->
<div class="container-fluid">
  <div class="row">

    <div class="col-md-9">
      <h3 class="question-title"><%= @q.title %></h3>

      <div class="row">
        <div class="col-md-1">
          <div class="votingbox">
            <a href="javascript:void(0);" title="好问题，赞！"
               onclick="javascript:vote('vote','q',<%= @q.id %>);">
              <span class="glyphicon glyphicon-triangle-top"
                    aria-hidden="true"></span>
            </a>
            <br>
            <span id="q-scores-<%= @q.id %>"><%= @q.scores %></span>
            <br>

            <a href="javascript:void(0);" title="这问题太逊了，埋了它！"
               onclick="javascript:vote('devote','q',<%= @q.id %>);">
              <span class="glyphicon glyphicon-triangle-bottom"
                    aria-hidden="true"></span>
            </a>
            <br>

            <a id="watchicon" href="javascript:void(0);"
               onclick="javascript:watch1(<%= @q.id %>);"
               title="<% if @watched %>已<% end %>收藏"
               class="<% if @watched %>watched<% else %>watching<% end %>" >
              <span class="glyphicon glyphicon-star" aria-hidden="true">
              </span>
            </a>
            <br>

            <!-- has_accepted_answer mark -->
            <% if @answered %>
              <a id="answeredicon" href="#answer" title="跳到被标记的答案">
                <span class="glyphicon glyphicon-ok" aria-hidden="true">
                </span>
              </a>
            <% end %>
          </div>
        </div>  <!-- end of voting box -->

        <div class="col-md-11" id="question-content">
          <div>
            <%= @q.content %>
          </div>

          <div class="tag-authorbox">
            <div class="tags">
                <% @q.tags.each do |t| %>
                  <span class="q_tag"><%= t.name %></span>
                <% end %>
            </div>

            <div class="authorbox text-right">
              <img class="avatar-sm"
                   src="<%= @q.author.info.avatar || '/avatar.jpg' %>">
              <a href="/u/<%= @q.author.login_name %>">
                <%= @q.author.info.nickname %>(<%= @q.author.info.reputation %>)
              </a>
              提问于<%= time_ago_in_words_zh(@q.created_at) %>
            </div>
          </div>

          <!-- comments go here -->
          <div class="comments">
            <% if !@q.comments.empty? %>
              <% @q.comments.each do |c| %>
                <div class="single-comment">
                  <div class="comment-vote"> <!-- voting box -->
                    <a href="javascript:void(0);"
                       onclick="javascript:vote('vote','c',<%= c.id %>)"
                       title="这条评论很有帮助，赞！">
                      <span class="glyphicon glyphicon-triangle-top"
                            aria-hidden="true"></span>
                    </a>
                    <span id = "c-scores-<%= c.id %>"><%= c.scores %></span>
                    <a href="javascript:void(0);"
                       onclick="javscript:vote('devote','c',<%= c.id %>)"
                       title="这条评论不正确或者误导人，差评！">
                      <span class="glyphicon glyphicon-triangle-bottom"
                            aria-hidden="true"></span>
                    </a>
                  </div> <!-- end of voting box -->

                  <div class="comment-text">
                    <%= c.content %>
                  </div>

                  <div class="comment-author">
                    <a href="/u/<%= c.author.login_name %>">
                      <%= c.author.info.nickname %>(<%=
                          c.author.info.reputation %>)
                    </a>
                    <%= time_ago_in_words_zh(c.created_at) %>
                  </div>

                  <div class="clear"></div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <a href="javascript:void(0);" role="button"
                 onclick="javascript:show_comment();">
                 <span class="glyphicon glyphicon-comment" aria-hidden="true">
                 </span>
                 &nbsp;发表评论
              </a>

              <!-- hidden comment input div here -->
              <div class="form-group commenting" style="display:none;">
                <textarea id="comment_area" class="commentbox"
                          rows="4" style="width: 100%"></textarea><br>
                <a class="btn btn-primary btn-xs" href="javascript:void(0);"
                   onclick="javascript:do_comment(<%= @q.id %>);">确认</a>
                <a class="btn btn-default btn-xs" href="javascript:void(0);"
                   onclick="javascript:cancel_comment();">取消</a>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- end of #question-content -->

      <!-- answers listed here : all col-9 width -->
      <div class="answers">
        <% if @answers.empty? %>尚无作答<% else %>
          <%= @answers.size %>个回答
          <% @answers.each do |a| %>
            <div class="single-answer" id="a<%= a.id %>">
              <div class="row"
                <% if @q.accepted_answer == a %>id="answer"<% end %> >
                <div class="col-md-1">
                  <div class="votingbox"> <!-- voting box -->
                    <a href="javascript:void(0);"
                       onclick="javascript:vote('vote','a',<%= a.id %>);"
                       title="这条回答很有帮助，赞！">
                      <span class="glyphicon glyphicon-triangle-top"
                            aria-hidden="true"></span>
                    </a>
                    <br>
                    <span id = "a-scores-<%= a.id %>"><%= a.scores %></span>
                    <br>
                    <a href="javascript:void(0);"
                       onclick="javscript:vote('devote','a',<%= a.id %>);"
                       title="这答案不正确或者误导人，差评！">
                      <span class="glyphicon glyphicon-triangle-bottom"
                            aria-hidden="true"></span>
                    </a>

                    <br>
                    <!-- possible marked-as-answer sign -->
                    <% if @q.accepted_answer == a %>
                    <span class="glyphicon glyphicon-ok-sign i-am-answer"
                          aria-hidden="true"></span>
                    <% end %>

                  </div> <!-- end of voting box -->
                </div>
                <div class="col-md-11" id="answer-content">
                  <div class="answer-text">
                    <%= a.content %>
                  </div>

                  <div class="authorbox text-right">
                    <img class="avatar-sm"
                         src="<%= a.author.info.avatar || '/avatar.jpg' %>">
                    <a href="/u/<%= a.author.login_name %>">
                      <%= a.author.info.nickname %>(<%=
                          a.author.info.reputation %>)
                    </a>
                    回答于<%= time_ago_in_words_zh(a.created_at) %>
                  </div> <!-- end of author box of answer -->

                  <!-- marking func for answer -->
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-8 text-right
                         <% if @hidden_mark %>hidden<% end %>">
                      <a href="javascript:void(0);" role="button"
                         class="btn btn-primary btn-sm" onclick="javascript:
                           mark_as_accepted(<%= @q.id %>, <%= a.id %>);">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true">
                        </span>
                        &nbsp;标记为答案
                      </a>
                    </div>
                  </div>

                  <!-- comments for answer -->
                  <div class="comments">
                    <% if !a.comments.empty? %>
                      <% a.comments.each do |c| %>
                        <div class="single-comment">
                          <div class="comment-vote"> <!-- voting box -->
                            <a href="javascript:void(0);"
                               onclick="javascript:vote('vote','c',<%= c.id %>)"
                               title="这条评论很有帮助，赞！">
                              <span class="glyphicon glyphicon-triangle-top"
                                    aria-hidden="true"></span>
                            </a>
                            <span id = "c-scores-<%= c.id %>">
                              <%= c.scores %>
                            </span>
                            <a href="javascript:void(0);"
                               onclick="javscript:vote('devote','c',<%= c.id %>)"
                               title="这条评论不正确或者误导人，差评！">
                              <span class="glyphicon glyphicon-triangle-bottom"
                                    aria-hidden="true"></span>
                            </a>
                          </div> <!-- end of voting box -->

                          <div class="comment-text">
                            <%= c.content %>
                          </div>

                          <div class="comment-author">
                            <a href="/u/<%= c.author.login_name %>">
                              <%= c.author.info.nickname %>(<%=
                                  c.author.info.reputation %>)
                            </a>
                            <%= time_ago_in_words_zh(c.created_at) %>
                          </div>

                          <div class="clear"></div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <a href="javascript:void(0);"
                     onclick="javascript:show_comment_answer(<%= a.id %>);">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true">
                    </span>
                    &nbsp;发表评论
                  </a>

                  <!-- hidden comment input div here -->
                  <div class="form-group commenting-answer-<%= a.id %>"
                       style="display: none;">
                    <textarea id="comment_area_answer_<%= a.id %>"
                              class="commentbox"
                              rows="4" style="width: 100%"></textarea><br>
                    <a class="btn btn-primary btn-xs"
                       href="javascript:void(0);"
                       onclick="javascript:do_comment_answer(<%= a.id %>);">
                      确认
                    </a>
                    <a class="btn btn-default btn-xs"
                       href="javascript:void(0);"
                       onclick="javascript:cancel_comment_answer(<%= a.id %>);">
                      取消
                    </a>
                  </div>
                </div>
              </div> <!-- end of div.row -->
            </div> <!-- end of div.single-answer -->

          <% end %>
        <% end %>

      </div> <!-- end of listed answers -->

      <hr>
      你的回答
      <!-- answer input box here : all col-9 width -->
      <div class="form-group">
        <textarea id="editor1" name="editor1"></textarea>
        <script>
          CKEDITOR.replace('editor1');
        </script>
      </div>
      <a class="btn btn-primary" href="javascript:void(0);"
         onclick="javascript:do_answer(<%= @q.id %>);">提交</a>
      <div id="err_msg_ask" class="text-danger"></div>
    </div> <!-- end of col-9 -->

    <!-- right side ad or something others -->
    <div class="col-md-3">
      ads...
    </div>

  </div><!-- end of top row -->
</div><!-- end of container -->
