<script src="/vendors/ckeditor/ckeditor.js"></script>
<div class="container">
  <div class="row">

    <!-- left main pad: question, comments, answers and answering input -->
    <div class="col-md-9">
      <h5><%= @q.title %></h5>

      <div class="row">
        <div class="col-md-1">
          <div class="votingbox">
            <a href="javascript:void(0);"
               onclick="javascript:vote(0,'q',<%= @q.id %>);"
               title="好问题，赞！">
              <span class="glyphicon glyphicon-triangle-top"
                    aria-hidden="true"></span>
            </a>
            <br>
            <span id="q-scores-<%= @q.id %>"><%= @q.scores %></span>
            <br>

            <a href="javascript:void(0);"
               onclick="javascript:vote(1,'q',<%= @q.id %>);"
               title="这问题太逊了，埋了它！">
              <span class="glyphicon glyphicon-triangle-bottom"
                    aria-hidden="true"></span>
            </a>
            <br>

            <a id="watchicon"
               href="javascript:void(0);"
               onclick="javascript:watch1(<%= @q.id %>);"
               title="<% if @watched %>已<% end %>收藏"
               class="<% if @watched %>watched<% else %>watching<% end %>" >
              <span class="glyphicon glyphicon-star" aria-hidden="true">
              </span>
            </a>
            <br>

            <% if @answered %>
              <a id="answeredicon" href="#answer" title="跳到被标记的答案">
                <span class="glyphicon glyphicon-ok" aria-hidden="true">
                </span>
              </a>
            <% end %>
          </div>
        </div>  <!-- end of voting box -->

        <div class="col-md-11">
          <div class="question-scontent">
            <%= @q.content %>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="tags">
                  <% @q.tags.each do |t| %>
                    <span class="label label-primary"><%= t.name %></span>
                  <% end %>
              </div>
            </div>

            <div class="col-sm-4 col-sm-offset-4 text-right">
              <div class="authorbox">
                <img class="avatar-sm"
                     src="<%= @q.author.info.avatar || '/avatar.jpg' %>">
                <a href="/u/<%= @q.author.login_name %>">
                  <%= @q.author.info.nickname %>(<%= @q.author.info.reputation %>)
                </a>
                <%= time_ago_in_words_zh(@q.created_at) %>提问
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-sm-4">
              <a href="javascript:void(0);"
                 onclick="javascript:show_comment();">评论</a>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-right
                        <% if @hidden_edit %>hidden<% end %>">
              <a href="javascript:void(0);">修改</a>
            </div>
          </div>

          <!-- hidden comment input div here -->
          <div class="form-group commenting" style="display: none;">
            <textarea id="comment_area"
                      class="commentbox"
                      rows="4" cols="73"></textarea><br>
            <a class="btn btn-primary btn-xs"
               href="javascript:void(0);"
               onclick="javascript:do_comment(<%= @q.id %>);"> 确认 </a>
            <a class="btn btn-default btn-xs"
               href="javascript:void(0);"
               onclick="javascript:cancel_comment();"> 取消 </a>
          </div>

          <!-- comments go here -->
          <div class="comments">
            <% if !@q.comments.empty? %>
              <% @q.comments.each do |c| %>
                <div class="single-comment">
                  <div class="comment-vote"> <!-- voting box -->
                    <a href="javascript:void(0);"
                       onclick="javascript:vote(0,'c',<%= c.id %>)"
                       title="这条评论很有帮助，赞！">
                      <span class="glyphicon glyphicon-triangle-top"
                            aria-hidden="true"></span>
                    </a>
                    <span id = "c-scores-<%= c.id %>"><%= c.scores %></span>
                    <a href="javascript:void(0);"
                       onclick="javscript:vote(1,'c',<%= c.id %>)"
                       title="这条评论不正确或者误导人，差评！">
                      <span class="glyphicon glyphicon-triangle-bottom"
                            aria-hidden="true"></span>
                    </a>
                  </div> <!-- end of voting box -->

                  <div class="comment-text">
                    <%= c.content %>
                  </div>

                  <div class="comment-author">
                    <a href="/u/<%= c.author.login_name %>">
                      <%= c.author.info.nickname %>(<%= c.author.info.reputation %>)
                    </a>
                    <%= time_ago_in_words_zh(c.created_at) %>
                  </div>

                  <div class="clear"></div>
                </div>
              <% end %>
            <% end %>
          </div>

        </div> <!-- end of col-md-8 content column -->
      </div> <!-- end of the first row: col-9, with title, votingbox, etc. -->

      <hr>

      <!-- answers listed here : all col-9 width -->
      <div class="answers">
        <% if @q.answers.empty? %>
          尚无作答
        <% else %>
          <%= @q.answers.size %>个回答

          <% @q.answers.each do |a| %>
            <div class="single-answer">
              <div class="row">
                <div class="col-md-1">
                  <div class="votingbox"> <!-- voting box -->
                    <a href="javascript:void(0);"
                       onclick="javascript:vote(0,'a',<%= a.id %>);"
                       title="这条回答很有帮助，赞！">
                      <span class="glyphicon glyphicon-triangle-top"
                            aria-hidden="true"></span>
                    </a>
                    <br>
                    <span id = "a-scores-<%= a.id %>"><%= a.scores %></span>
                    <br>
                    <a href="javascript:void(0);"
                       onclick="javscript:vote(1,'a',<%= a.id %>);"
                       title="这答案不正确或者误导人，差评！">
                      <span class="glyphicon glyphicon-triangle-bottom"
                            aria-hidden="true"></span>
                    </a>
                  </div> <!-- end of voting box -->
                </div>
                <div class="col-md-11">
                  <div class="answer-text">
                    <%= a.content %>
                  </div>

                  <div class="authorbox">
                    <img class="avatar-sm"
                         src="<%= a.author.info.avatar || '/avatar.jpg' %>">
                    <a href="/u/<%= a.author.login_name %>">
                      <%= a.author.info.nickname %>(<%= a.author.info.reputation %>)
                    </a>
                    <%= time_ago_in_words_zh(a.created_at) %>回答
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div> <!-- end of listed answers -->

      <hr>
      你的回答
      <!-- answer input box here : all col-9 width -->
      <div class="form-group">
        <textarea id="editor1" name="editor1"></textarea>
        <script>
          CKEDITOR.replace('editor1'); CKEDITOR.instances.editor1.setData("");
        </script>
      </div>
      <a class="btn btn-primary"
         href="javascript:void(0);"
         onclick="javascript:do_answer(<%= @q.id %>);">
         提交
      </a>
      <div id="err_msg_ask" class="text-danger"></div>

    </div> <!-- end of col-9 -->

    <!-- right side ad or something others -->
    <div class="col-md-3">
      ads...
    </div>

  </div><!-- end of top row -->
</div><!-- end of container -->
