<!-- modal of edit tag -->
<%= render_tag_edit_modal %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <span class="q_tag text-1_5times"><%= @tag.name %></span>
      &times; <%= @tag.used %>
      创建于<%= time_ago_in_words_zh(@tag.created_at) %>

      <blockquote class="margin-top-10">
        <p>
          <%= @tag.desc || "暂无简介" %>
        </p>
      </blockquote>

      <% if @can_edit %>
      <a href="javascript:void(0);" data-toggle="modal" class="comment-btn"
         data-target="#tag-edit-modal">
        <i class="fa fa-edit"></i>&nbsp;修改
      </a>
      <% end %>

      <div class="intag-questions-pane">
        <ul class="nav nav-tabs">
          <li role="presentation" class="<%= 'active' if @sort_by == 'new' %>">
            <a href="javascript:void(0);"
               onclick="sort_by('new');">最新</a>
          </li>
          <li role="presentation" class="<%= 'active' if @sort_by == 'hot' %>">
            <a href="javascript:void(0);"
               onclick="sort_by('hot');">最热</a>
          </li>
        </ul>

        <div class="intag-question-box">
          <% @questions.each do |q| %>
            <div class="q-title text-1_5times">
              <a href="<%= q.url %>"><%= q.title %></a>
            </div>

            <div class="q-authorinfo">
              <a href="<%= q.get_last_doer.url %>">
                <%= q.get_last_doer.login_name %>
              </a>
              在<%= time_ago_in_words_zh(q.get_last_event.created_at) %>
              <%= q.get_last_event.event_type_zh %>
            </div>

            <div class="q-content">
              <p>
                <%= get_abstract(q.content, 50) %>
              </p>
            </div>
          <% end %>
        </div>


        <div class="pager2">
          <ul class="pagination pagination-sm">
            <% if @page <= 1 %>
              <li class="disabled"><a href="javascript:void(0);">&laquo;</a></li>
            <% else %>
              <li>
                <a href="javascript:void(0);"
                 onclick="javascript:pager_move(<%= @page - 1 %>);">&laquo;</a>
              </li>
            <% end %>

            <% (1 .. @total_page).each do |pno| %>
              <% if pno == @page %>
                <li class="active">
                  <a href="javascript:void(0);"><%= pno %></a>
                </li>
              <% else %>
                <li>
                  <a href="javascript:void(0);"
                     onclick="javascript:pager_move(<%= pno %>);">
                    <%= pno %>
                  </a>
                </li>
              <% end %>
            <% end %>

            <% if @page < @total_page %>
              <li>
                <a href="javascript:void(0);"
                   onclick="javascript:pager_move(<%= @page + 1 %>);">&raquo;</a>
              </li>
            <% else %>
              <li class="disabled"><a href="javascript:void(0);">&raquo;</a></li>
            <% end %>

          </ul>
        </div>


      </div>

    </div>

    <div class="col-md-3">
      <div class="intag-search">
        <input type="text" class="form-control searchbox"
               name="intag-search" placeholder="搜索该标签下内容">
      </div>
      <hr>

      <div class="intag-topexpert">
        <h5>热门砖家</h5>
        <% @top_experts.each do |e| %>
          <div class="listed-expert">
            <img class="listed-avatar" src="<%= e.avatar_src %>"
                 alt="<%= e.login_name %>" />
            <div class="listed-info">
              <span class="listed-name">
                <%= e.info.nickname %> (标签得分 <%= e.get_expert_score(@tag.id) %>)
              </span>
              <a href="<%= e.url %>">
                <span class="listed-intro">@<%= e.login_name %></span>
              </a>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>
      <hr>

      <%= render_ad %>
    </div>
  </div>
</div>
