<!-- modal of edit tag -->
<%= render_tag_edit_modal %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <span class="q_tag text-1_5times"><%= @tag.name %></span>
      &times; <%= @tag.used %>
      <% if @tag.created_by != 0 %>
      创建于<%= time_ago_in_words_zh(@tag.created_at) %>
      <% end %>

      <blockquote class="margin-top-10">
        <p>
          <%= @tag.desc || "暂无简介" %>
        </p>
      </blockquote>

      <% if @can_edit %>
      <a href="javascript:void(0);" data-toggle="modal" class="comment-btn"
         data-target="#tag-edit-modal">
        <i class="fa fa-edit"></i>&nbsp;修改
      </a>
      <% end %>

      <div class="intag-questions-pane">
        <ul class="nav nav-tabs">
          <li role="presentation" class="<%= 'active' if @sort_by == 'new' %>">
            <a href="javascript:void(0);"
               onclick="sort_by('new');">最新</a>
          </li>
          <li role="presentation" class="<%= 'active' if @sort_by == 'hot' %>">
            <a href="javascript:void(0);"
               onclick="sort_by('hot');">最热</a>
          </li>
        </ul>

        <div class="intag-question-box">
          <% @questions.each do |q| %>

          <div class="search-item">

            <div class="float-left search-item-left">
              <div class="left-boxes gray-and-bold">
                <%= get_format_number(q.scores) %> <br/>得分
              </div>
              <div class="left-boxes <%= if !q.accepted_answer.nil? then "answered" elsif q.answers.size > 0 then "has-answers" end %>">
                <%= get_format_number(q.answers.size) %> <br/>回答
              </div>
            </div>

            <div class="float-left">
              <div class="q-title text-1_5times">
                <a href="<%= q.url %>"><%= q.title %></a>
              </div>

              <div class="q-authorinfo">
                <a href="<%= q.get_last_question_doer.url %>">
                  <%= q.get_last_question_doer.login_name %>
                </a>
                在<%= time_ago_in_words_zh(q.get_last_question_event.created_at) %>
                <%= q.get_last_question_event.event_type_zh %>
              </div>

              <div class="q-content">
                <p>
                  <%= get_abstract(q.content, 50) %>
                </p>
              </div>

              <div>
                <% q.tags.each do |t| %>
                  <span class="q_tag"><%= t.name %></span>
                <% end %>
              </div>

            </div>
            <div class="clear"></div>
          </div>
          <% end %>
        </div>

        <%= render_pager_full %>
      </div>

    </div>

    <div class="col-md-3">
      <div class="intag-search">
        <input type="text" class="form-control searchbox"
               name="intag-search" placeholder="搜索该标签下内容">
      </div>
      <hr>

      <div class="intag-topexpert">
        <h5>热门砖家</h5>
        <% @top_experts.each do |e| %>
          <div class="listed-expert">
            <a href="<%= e.url %>">
              <img class="listed-avatar" src="<%= e.avatar_src %>"
                 alt="<%= e.login_name %>" />
            </a>
            <div class="listed-info">
              <span class="listed-name"><%= e.info.nickname %></span>
              标签得分
              <span class="numbers-lg"><%= e.get_expert_score(@tag.id) %>
              </span>
              <br>
              <span class="listed-intro">@<%= e.login_name %></span>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>
      <hr>

    </div>
  </div>
</div>
