<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="tags-main-pane">
        <ul class="nav nav-tabs">
          <li role="presentation" class="<%= 'active' if @sort_by == 'new' %>">
            <a href="javascript:void(0);"
               onclick="sort_by('new');">最新</a>
          </li>
          <li role="presentation" class="<%= 'active' if @sort_by == 'hot' %>">
            <a href="javascript:void(0);"
               onclick="sort_by('hot');">最热</a>
          </li>
        </ul>

        <div class="tags-pane">
          <% @tags.each do |tag| %>
            <div class="tag-box">
              <a href="javascript:void(0);" class="tag"
                 onclick="javascript:go_tag(<%= tag.id %>);">
                <%= tag.name %>
              </a> &times; <%= tag.used %>
              <p>
                <%= tag.desc || "暂无简介" %>
              </p>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>

        <%= render_pager_full %>

      </div>
    </div>

    <div class="col-md-3">
      <div class="tags-intro">
        <h3>标签</h3>
        <p>
          <span class="q_tag">标签</span>
          是一种关键字、一种标识，通常用以标记某些问题、文章等属于一个内容范畴。
          它可以帮助其它用户快速准确地找到和回答你的问题。
        </p>
      </div>
      <hr>

      <div class="tags-search">
        <input type="text" class="form-control searchbox"
               name="tag-search" placeholder="标签搜索">
      </div>
      <hr>

      <%= render_ad %>
      <%= render_job_posts %>

    </div>

  </div>
</div>
