<div class="w3-row">
  <div class="w3-third w3-container w3-hide-small">
  </div>

  <div class="w3-third w3-card-2 w3-white">
    <div class="w3-container w3-padding w3-indigo w3-xxxlarge">
      <div class="charlogo"><span class="legi">legi</span><span class="talk">talk</span></div>
    </div>
    <form method="POST">
      <div class="w3-container w3-padding w3-large">
        <label class="w3-label"><%= I18N.ref "login_name" %></label>
        <input class="w3-input" type="text" name="login_name" id="login_name">

        <label class="w3-label"><%= I18N.ref "password" %></label>
        <input class="w3-input" type="password" name="password" id="password">
      </div>
      <div class="w3-container w3-padding w3-large">
        <input type="submit" class="w3-btn w3-indigo" id="signin" value="<%= I18N.ref "login" %>">
      </div>
    </form>
    <hr>
    <div class="w3-container w3-padding w3-medium">
      <%= I18N.ref "no_signup?" %> <a href='/user/signup'><%= I18N.ref "signup" %></a>
    </div>
  </div>

  <div class="w3-third w3-container w3-hide-small">
  </div>
</div>


<script>
(function (window, $) {
  $(function () {
    $("input[name='login_name']").val(getURLParameter("u"));
  });

  $("input[type='submit']").on('click.app', function (event) {
    event.preventDefault();
    var name_is_ok = false, pass_is_ok = false;
    var name_input = $("input[name='login_name']");
    var name = name_input.val().trim();
    var reg=/^[0-9a-zA-Z_]{3,50}$/i;
    if (!reg.test(name)) {
      name_is_ok = false;
      name_input.addClass("w3-text-red");
      show_below_msg("login_name", "<%= I18N.ref "login_name_invalid" %>");
    }
    else {
      name_is_ok = true;
      name_input.removeClass("w3-text-red");
      clean_below_msg("login_name");
    }

    var pass_input = $("input[name='password']");
    var pass = pass_input.val().trim();
    if (pass.length < 6) {
      pass_is_ok = false;
      pass_input.addClass("w3-text-red");
      show_below_msg("password", "<%= I18N.ref "password_invalid" %>");
    }
    else {
      pass_is_ok = true;
      pass_input.removeClass("w3-text-red");
      clean_below_msg("password");
    }

    if (name_is_ok && pass_is_ok) {
      var data = {
        "login_name" : name,
        "password"   : pass
      };
      $.post("/user/signin", data, function (data, status) {
        console.log(data);
        if(data.ret == "success") {
          name_input.removeClass("w3-text-red");
          pass_input.removeClass("w3-text-red");
          var return_url = getURLParameter("returnurl");
          if(return_url != null) {
            location.replace(return_url);
          }
          else {
            location.replace("/");
          }
        }
        else {
          name_input.addClass("w3-text-red");
          pass_input.addClass("w3-text-red");
          if(data.msg == "login_fail") {
            show_below_msg(
              "signin",
              "<div class='w3-container w3-padding-0'><%= I18N.ref "authen_err" %> <a href='/user/iforgot?u=" + name + "'><%= I18N.ref "iforgot" %></a></div>"
            );
          }
          else if(data.msg == "waiting") {
            show_below_msg("signin", "<div class='w3-container'></div>");
          }
          else if(data.msg == "fail_5") {
            show_below_msg("signin", "<div class='w3-container'></div>");
          }
          else if(data.msg == "fail_10") {
            show_below_msg("signin", "<div class='w3-container'></div>");
          }
          else {
            show_below_msg("signin", data.msg);
          }
        }
      });
    }
  });

})(window, jQuery);
</script>
