<div class="container">
  <div class="row">
    <div class="col-md-9">

      <% if @watchlist.size > 0 %>
      <div class="watchlist">

        <% @watchlist.order(created_at: :desc).each do |q| %>
        <div class="watchlist-line">
          <div class="float-left">
            <button type="button" class="btn btn-default btn-sm"
                    onclick="javascript:unwatch1(<%= q.id %>);">
               移除
            </button>
          </div>
          <div class="float-left">
            <a href="/q/<%= q.id %>">
              <%= q.title %>
            </a>
          </div>
          <div class="float-right">
            收藏于<%= time_ago_in_words_zh(q.created_at) %>
          </div>
          <div class="clear"></div>
        </div>
        <% end %>

      </div>
      <%= render_pager_full %>

      <% else %>
        暂无收藏
      <% end %>

    </div>

    <div class="col-md-3">
      <div>
        <h5>收藏</h5>
        <p>
          当你提问或回答问题的时候，会自动收藏该问题。
          也可以点击问题正文边上的五角星来手动收藏或取消。
        </p>
      </div>
      <hr>
    </div>

  </div>
</div>
