<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-page left-pane">
        <div class="avatar">
          <img alt="<%= @user_info.nickname %>"
               src="<%= @user_info.avatar || "/avatar.jpg"%>">
        </div>

        <div class="namebox">
          <h4 class="nickname"><%= @user_info.nickname %><br>
            <small>@<%= @user.login_name %></small>
          </h4>
          <blockquote>
            <%= @user_info.intro || "暂时没有简介哦~" %>
          </blockquote>

          <p>
            <span class="glyphicon glyphicon-globe"></span>
            &nbsp; <%= @user_info.city %>
          </p>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            &nbsp; <%= @user_info.email %>
          </p>
          <p>
            <span class="glyphicon glyphicon-earphone"></span>
            &nbsp; <%= @user_info.contact %>
          </p>

          <!-- SNS info -->
          <div class="sns-pane">
            <div class="sns-table">
              <table class="table">
                <tr>
                  <th>following</th>
                  <th>followers</th>
                </tr>
                <tr>
                  <td><%= @user.followee_size %></td>
                  <td><%= @user.follower_size %></td>
                </tr>
              </table>
            </div>

            <% if @user.id != get_user_id %>
              <% if @followed %>
                <a href="javascript:void(0);"
                   class="btn btn-default btn-sm"
                   title="unfollow"
                   onclick="javascript:cancel_follow('<%= @user.login_name %>');">
                  取消跟随
                </a>
              <% else %>
                <a href="javascript:void(0);"
                   class="btn btn-primary btn-sm"
                   title="follow"
                   onclick="javascript:do_follow('<%= @user.login_name %>');">
                  跟随
                </a>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="mid-pane">

        <div class="user-info-pane">
          <div>
            <span>声望: <%= @user.info.reputation %></span>
            <span id="signup">
              <%= time_ago_in_words_zh(@user.created_at) %>加入
            </span>
          </div>
          <div>
            <span>提问: <%= @user.asked_questions.size || 0 %></span>
            <span>回答: <%= @user.answers.size || 0 %></span>
            <span>文章: <%= @user.articles.size || 0 %></span>
          </div>
        </div>

        <hr>

        <!-- lastest actions -->
        <div class="latest">
          <% if @lastest_actions.size > 0 %>
          <table>
            <% @lastest_actions.each do |act| %>
            <tr>
              <td style="width:10%;">
                <%= time_ago_in_words_zh(act.created_at) %>
              </td>
              <td style="width:7%;">
                <%= act.action_type_zh %>
              </td>
              <td style="width:7%;">
                <%= act.target_type_zh %>
              </td>
              <td>
                <a href="<%= act.target_url %>">
                  <%= act.target_title %>
                </a>
              </td>
            </tr>
            <% end %>
          </table>
          <% else %>
            暂无动态
          <% end %>
        </div>
        <hr>

        <!-- fav tags -->
        <h5>擅长标签</h5>
        <div class="my-expert-tags">      
          <% @user.top_expert_tags(5).each do |rel| %>
            <div class="each-expert-tag">
              <a href="javascript:void(0);" class="tag"
                 onclick="javascript:go_tag(<%= rel.tag_id %>);">
                <%= rel.tag.name %>
              </a>
              标签分数
              <%= rel.expert_score %>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>

      </div>
    </div>
  </div>
</div>
