<div class="container-fluid">
  <div class="row">
    <div class="profile-background">
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="profile-pane">
        <div class="avatar">
          <img alt="<%= @user_info.nickname %>"
               src="<%= @user_info.avatar || "/avatar.jpg"%>">
        </div>

        <div class="namebox">
          <h4 class="nickname"><%= @user_info.nickname %><br>
            <small>@<%= @user.login_name %></small>
          </h4>
          <blockquote>
            <%= @user_info.intro || "暂时没有简介哦~" %>
          </blockquote>

          <p>
            <span class="glyphicon glyphicon-map-marker"></span>
            &nbsp; <%= @user_info.city %>
          </p>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            &nbsp; <%= @user_info.email %>
          </p>
          <p>
            <span id="whensignup">
              <%= time_ago_in_words_zh(@user.created_at) %>加入
            </span>
          </p>

          <div class="sns-actions">
            <% if @user.id != get_user_id %>
              <% if @followed %>
                <a href="javascript:void(0);"
                   class="btn btn-default btn-sm"
                   title="unfollow"
                   onclick="javascript:cancel_follow('<%= @user.login_name %>');">
                  取消跟随
                </a>
              <% else %>
                <a href="javascript:void(0);"
                   class="btn btn-primary btn-sm"
                   title="follow"
                   onclick="javascript:do_follow('<%= @user.login_name %>');">
                  跟随
                </a>
              <% end %>
            <% end %>
          </div>

        </div>
      </div> <!-- end of profile -->
    </div><!-- end of col-3 on the left -->

    <div class="col-md-6">
      <div class="profile-mid-pane">

        <div class="user-stat-pane">
          <ul>
            <li>
              <div class="each-stat">
                <h5>声望</h5>
                <span><%= @user.reputation %></span>
              </div>
            </li>
            <li>
              <div class="each-stat">
                <h5>提问</h5>
                <span><%= @user.asked_questions.count %></span>
              </div>
            </li>
            <li>
              <div class="each-stat">
                <h5>回答</h5>
                <span><%= @user.answers.count %></span>
              </div>
            </li>
            <li>
              <div class="each-stat">
                <h5>关注</h5>
                <span><%= @user.followee_size %></span>
              </div>
            </li>
            <li class="last">
              <div class="each-stat">
                <h5>粉丝</h5>
                <span><%= @user.follower_size %></span>
              </div>
            </li>
          </ul>
          <div class="clear">
          </div>
        </div>


        <!-- lastest actions -->
        <div class="eventbox-list">
          <% if @events && @events.size > 0 %>

            <% @events.each do |event| %>
            <div class="eventbox">
              <div class="event-avatar">
                <img alt="<%= @user_info.nickname %>"
                     src="<%= @user_info.avatar || "/avatar.jpg"%>">
              </div>
              <div class="event-content">

                <h5>
                  <%= @user_info.nickname %>
                  <small>@<%= @user.login_name %></small>
                </h5>

                <p>
                  在<%= time_ago_in_words_zh(event.created_at) %>
                  <%= event.event_type_zh %>
                  <%= event.target_type_zh %>
                  <a href="<%= event.target_url %>" class="event-target-link">
                    <%= event.target_title %>
                  </a>
                </p>
                <% if event.target_quote %>
                <blockquote>
                  <%= event.target_quote %>
                </blockquote>
                <% end %>

              </div>
              <div class="clear"></div>

            </div>

            <% end %>
          <% else %>
            暂无动态
          <% end %>
        </div>



      </div> <!-- end of profile-mid-pane -->
    </div> <!-- end of col-6 in the mid -->

    <div class="col-md-3">
      <!-- fav tags -->
      <h5>擅长标签</h5>
      <div class="my-expert-tags">
        <% @user.top_expert_tags(5).each do |rel| %>
          <div class="each-expert-tag">
            <a href="javascript:void(0);" class="tag"
               onclick="javascript:go_tag(<%= rel.tag_id %>);">
              <%= rel.tag.name %>(<%= rel.expert_score %>)
            </a>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>

      <hr>

      <div class="ad-col-3">
        <%= get_ad %>
      </div>

    </div>



  </div> <!-- end of the second row: main content -->
</div>
