<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-page left-pane">
        <div class="avatar">
          <img alt="<%= @user_info.nickname %>"
               src="<%= @user_info.avatar || "/avatar.jpg"%>">
        </div>

        <div class="namebox">

          <h4><%= @user_info.nickname %></h4>
          <blockquote>
            <%= @user_info.intro || "暂时没有简介哦~" %>
          </blockquote>

          <p>
            <span class="glyphicon glyphicon-globe"></span>
            &nbsp; <%= @user_info.city %>
          </p>

          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            &nbsp; <%= @user_info.email %>
          </p>

          <p>
            <span class="glyphicon glyphicon-earphone"></span>
            &nbsp; <%= @user_info.contact %>
          </p>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-page mid-pane">
        other info
      </div>
    </div>
    <div class="col-md-3">
      <div class="profile-page ads-pane">
        ads here...
      </div>
    </div>
  </div>
</div>
