<div class="container">
  <div>

    <% @users.each do |user| %>
    <div id="listed-user" class="float-left">

      <div class="float-left">
        <a href="<%= user.url %>">
          <img src="<%= user.avatar_src %>" alt="@<%= user.login_name %>" title="<%= user.login_name %>" />
        </a>
      </div>

      <div id="user-detail" class="float-left">
        <a href="<%= user.url %>">
          <%= user.info.nickname %>
          <span class="numbers-sm">
            <%= get_format_number(user.reputation) %>
          </span>
        </a>

        <p>
          注册于<%= time_ago_in_words_zh(user.created_at) %>
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <% end %>

    <div class="clear"></div>
  </div>
  <%= render_pager_full %>
</div>
