<div class="container">
  <p>
    按照声望排序的所有用户列表
  </p>

  <div class="listed-users">
    <% @users.each do |user| %>
    <div class="listed-user">
      <div>
        <img class="avatar-listed" src="<%= user.avatar_src %>" alt="<%= user.login_name %>" />
      </div>

      <div class="user-detail">
        <a class="anchor-username" href="<%= user.url %>">
          <%= user.info.nickname %> (<%= user.reputation %>)
        </a>

        <p>
          注册于 <%= time_ago_in_words_zh(user.created_at) %>
          <br />

          <% user.top_expert_tags(3).each do |rel| %>
            <span class="q_tag"><%= rel.tag.name %></span>
          <% end %>
        </p>
      </div>

    </div>
    <% end %>
  </div>
  <div class="clear"></div>

  <%= render_pager_full %>

</div>
